In [4]:
import pandas as pd
import numpy as np

## 打印DataFrame的前后5行

In [7]:
df = pd.DataFrame(
    data = {
        'norm': np.random.normal(loc=0, scale=1, size=1000),
        'uniform': np.random.uniform(low=0, high=1, size=1000),
        'binomial': np.random.binomial(n=1, p=0.2, size=1000)
    },
    index=pd.date_range(start='2021-01-01', periods=1000)
)

print(df.head(10))
print()
print(df.tail(5))

                norm   uniform  binomial
2021-01-01  0.631645  0.371954         0
2021-01-02 -0.702175  0.418004         0
2021-01-03 -0.048241  0.664685         0
2021-01-04  0.366193  0.364940         0
2021-01-05  0.156846  0.605270         1
2021-01-06 -0.412874  0.868922         0
2021-01-07  1.544170  0.965315         0
2021-01-08 -0.560153  0.116781         0
2021-01-09  0.481517  0.662427         0
2021-01-10 -0.260883  0.226705         0

                norm   uniform  binomial
2023-09-23 -0.191587  0.981348         0
2023-09-24 -0.110555  0.859775         1
2023-09-25 -0.546216  0.070583         0
2023-09-26 -1.453722  0.148417         0
2023-09-27  0.027186  0.611006         0

## 查看df的信息和基本数据统计

In [9]:
print(df.info())
print()
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1000 entries, 2021-01-01 to 2023-09-27
Freq: D
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   norm      1000 non-null   float64
 1   uniform   1000 non-null   float64
 2   binomial  1000 non-null   int64
dtypes: float64(2), int64(1)
memory usage: 31.2 KB
None

              norm      uniform    binomial
count  1000.000000  1000.000000  1000.00000
mean      0.007479     0.513191     0.20800
std       0.968059     0.291012     0.40608
min      -3.026913     0.000099     0.00000
25%      -0.643775     0.265885     0.00000
50%       0.011285     0.514052     0.00000
75%       0.659487     0.779423     0.00000
max       2.623086     0.999312     1.00000

## 统计数据列的值出现次数

In [10]:
print(df['binomial'].value_counts())

0    792
1    208
Name: binomial, dtype: int64

## 将df前N行存入CSV文件

In [11]:
df.to_csv('分布数据前50行.csv')

## 加载CSV文件到df

In [12]:
df = pd.read_csv('分布数据前50行.csv', index_col=0)
print(df)

                norm   uniform  binomial
2021-01-01  0.631645  0.371954         0
2021-01-02 -0.702175  0.418004         0
2021-01-03 -0.048241  0.664685         0
2021-01-04  0.366193  0.364940         0
2021-01-05  0.156846  0.605270         1
...              ...       ...       ...
2023-09-23 -0.191587  0.981348         0
2023-09-24 -0.110555  0.859775         1
2023-09-25 -0.546216  0.070583         0
2023-09-26 -1.453722  0.148417         0
2023-09-27  0.027186  0.611006         0

[1000 rows x 3 columns]

## 下载股票数据

In [23]:
import tushare as ts

df = ts.get_k_data('600519', ktype='D', start='2010-04-26', end='2021-04-26')
df.to_csv("./SH600519.csv")
df

本接口即将停止更新，请尽快使用Pro版接口：https://waditu.com/document/2

            date      open     close      high       low     volume    code
74    2010-04-26    88.702    87.381    89.072    87.362  107036.13  600519
75    2010-04-27    87.355    84.841    87.355    84.681   58234.48  600519
76    2010-04-28    84.235    84.318    85.128    83.597   26287.43  600519
77    2010-04-29    84.592    85.671    86.315    84.592   34501.20  600519
78    2010-04-30    83.871    82.340    83.871    81.523   85566.70  600519
...          ...       ...       ...       ...       ...        ...     ...
2738  2021-04-20  2071.100  2094.800  2129.000  2070.000   28290.00  600519
2739  2021-04-21  2076.000  2080.000  2097.800  2065.100   26150.00  600519
2740  2021-04-22  2089.900  2055.500  2099.000  2051.500   26850.00  600519
2741  2021-04-23  2055.970  2108.940  2119.880  2052.500   33463.00  600519
2742  2021-04-26  2132.000  2077.820  2135.000  2073.600   34045.00  600519

[2669 rows x 7 columns]

## index重新从0排序

In [40]:
df.reset_index(drop=True, inplace=True)
df

,date,open,close,high,low,volume,code,year,month
0,2010-04-26,88.702,87.381,89.072,87.362,107036.13,600519,2010,4
1,2010-04-27,87.355,84.841,87.355,84.681,58234.48,600519,2010,4
2,2010-04-28,84.235,84.318,85.128,83.597,26287.43,600519,2010,4
3,2010-04-29,84.592,85.671,86.315,84.592,34501.20,600519,2010,4
4,2010-04-30,83.871,82.340,83.871,81.523,85566.70,600519,2010,4
...,...,...,...,...,...,...,...,...,...
2664,2021-04-20,2071.100,2094.800,2129.000,2070.000,28290.00,600519,2021,4
2665,2021-04-21,2076.000,2080.000,2097.800,2065.100,26150.00,600519,2021,4
2666,2021-04-22,2089.900,2055.500,2099.000,2051.500,26850.00,600519,2021,4
2667,2021-04-23,2055.970,2108.940,2119.880,2052.500,33463.00,600519,2021,4
2668,2021-04-26,2132.000,2077.820,2135.000,2073.600,34045.00,600519,2021,4

## 股票数据新增年份和月份两列

In [41]:
df['date'] = pd.to_datetime(df['date'])
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df

,date,open,close,high,low,volume,code,year,month
0,2010-04-26,88.702,87.381,89.072,87.362,107036.13,600519,2010,4
1,2010-04-27,87.355,84.841,87.355,84.681,58234.48,600519,2010,4
2,2010-04-28,84.235,84.318,85.128,83.597,26287.43,600519,2010,4
3,2010-04-29,84.592,85.671,86.315,84.592,34501.20,600519,2010,4
4,2010-04-30,83.871,82.340,83.871,81.523,85566.70,600519,2010,4
...,...,...,...,...,...,...,...,...,...
2664,2021-04-20,2071.100,2094.800,2129.000,2070.000,28290.00,600519,2021,4
2665,2021-04-21,2076.000,2080.000,2097.800,2065.100,26150.00,600519,2021,4
2666,2021-04-22,2089.900,2055.500,2099.000,2051.500,26850.00,600519,2021,4
2667,2021-04-23,2055.970,2108.940,2119.880,2052.500,33463.00,600519,2021,4
2668,2021-04-26,2132.000,2077.820,2135.000,2073.600,34045.00,600519,2021,4

## 计算每年的平均收盘价

In [42]:
print(df.groupby('year')['close'].mean())

year
2010     100.886199
2011     132.621086
2012     161.065517
2013     125.231727
2014     125.944204
2015     192.295840
2016     265.250451
2017     468.765984
2018     681.227605
2019     968.623525
2020    1471.484568
2021    2107.634267
Name: close, dtype: float64

## 股票数据找出收盘价最低行

In [43]:
print(df['close'].min())
print(df['close'].argmin())
print(df.iloc[[40]])
print(df.iloc[[df['close'].argmin()]])

80.578
40
         date    open   close    high     low    volume    code  year  month
40 2010-06-29  82.008  80.578  82.569  80.093  27782.66  600519  2010      6
         date    open   close    high     low    volume    code  year  month
40 2010-06-29  82.008  80.578  82.569  80.093  27782.66  600519  2010      6

## 筛选部分列

In [44]:
print(df[['date', 'open', 'close', 'volume']])

           date      open     close     volume
0    2010-04-26    88.702    87.381  107036.13
1    2010-04-27    87.355    84.841   58234.48
2    2010-04-28    84.235    84.318   26287.43
3    2010-04-29    84.592    85.671   34501.20
4    2010-04-30    83.871    82.340   85566.70
...         ...       ...       ...        ...
2664 2021-04-20  2071.100  2094.800   28290.00
2665 2021-04-21  2076.000  2080.000   26150.00
2666 2021-04-22  2089.900  2055.500   26850.00
2667 2021-04-23  2055.970  2108.940   33463.00
2668 2021-04-26  2132.000  2077.820   34045.00

[2669 rows x 4 columns]

## 将日期设置为索引

In [47]:
df.set_index('date', inplace=True)
print(df.head(3))

              open   close    high     low     volume    code  year  month
date
2010-04-26  88.702  87.381  89.072  87.362  107036.13  600519  2010      4
2010-04-27  87.355  84.841  87.355  84.681   58234.48  600519  2010      4
2010-04-28  84.235  84.318  85.128  83.597   26287.43  600519  2010      4

## 删除数据列

In [50]:
df.drop(columns=['high', 'low', 'code'], inplace=True)
print(df.head(3))

              open   close     volume  year  month
date
2010-04-26  88.702  87.381  107036.13  2010      4
2010-04-27  87.355  84.841   58234.48  2010      4
2010-04-28  84.235  84.318   26287.43  2010      4

## 对数据列进行重命名

In [52]:
# df.columns = ['O', 'C', 'V', 'Y', 'M']
df.rename(columns={'open': 'O', 'colse': 'C', 'volume': 'V', 'year': 'Y', 'month': 'M'}, inplace=True)
print(df.head(3))

                 O       C          V     Y  M
date
2010-04-26  88.702  87.381  107036.13  2010  4
2010-04-27  87.355  84.841   58234.48  2010  4
2010-04-28  84.235  84.318   26287.43  2010  4

## 加载电信客户流失数据

In [61]:
df = pd.read_csv('Telco-Customer-Churn.csv')
print(df.head(5))

   customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0  7590-VHVEG  Female              0     Yes         No       1           No
1  5575-GNVDE    Male              0      No         No      34          Yes
2  3668-QPYBK    Male              0      No         No       2          Yes
3  7795-CFOCW    Male              0      No         No      45           No
4  9237-HQITU  Female              0      No         No       2          Yes

      MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
0  No phone service             DSL             No  ...               No
1                No             DSL            Yes  ...              Yes
2                No             DSL            Yes  ...               No
3  No phone service             DSL            Yes  ...              Yes
4                No     Fiber optic             No  ...               No

  TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
0          No          No              No  Month-to-month              Yes
1          No          No              No        One year               No
2          No          No              No  Month-to-month              Yes
3         Yes          No              No        One year               No
4          No          No              No  Month-to-month              Yes

               PaymentMethod MonthlyCharges  TotalCharges Churn
0           Electronic check          29.85         29.85    No
1               Mailed check          56.95        1889.5    No
2               Mailed check          53.85        108.15   Yes
3  Bank transfer (automatic)          42.30       1840.75    No
4           Electronic check          70.70        151.65   Yes

[5 rows x 21 columns]

## 统计每一列的缺失值

In [62]:
print(df.isnull())
print(df.isnull().sum())

      customerID  gender  SeniorCitizen  Partner  Dependents  tenure  \
0          False   False          False    False       False   False
1          False   False          False    False       False   False
2          False   False          False    False       False   False
3          False   False          False    False       False   False
4          False   False          False    False       False   False
...          ...     ...            ...      ...         ...     ...
7038       False   False          False    False       False   False
7039       False   False          False    False       False   False
7040       False   False          False    False       False   False
7041       False   False          False    False       False   False
7042       False   False          False    False       False   False

      PhoneService  MultipleLines  InternetService  OnlineSecurity  ...  \
0            False          False            False           False  ...
1            False          False            False           False  ...
2            False          False            False           False  ...
3            False          False            False           False  ...
4            False          False            False           False  ...
...            ...            ...              ...             ...  ...
7038         False          False            False           False  ...
7039         False          False            False           False  ...
7040         False          False            False           False  ...
7041         False          False            False           False  ...
7042         False          False            False           False  ...

      DeviceProtection  TechSupport  StreamingTV  StreamingMovies  Contract  \
0                False        False        False            False     False
1                False        False        False            False     False
2                False        False        False            False     False
3                False        False        False            False     False
4                False        False        False            False     False
...                ...          ...          ...              ...       ...
7038             False        False        False            False     False
7039             False        False        False            False     False
7040             False        False        False            False     False
7041             False        False        False            False     False
7042             False        False        False            False     False

      PaperlessBilling  PaymentMethod  MonthlyCharges  TotalCharges  Churn
0                False          False           False         False  False
1                False          False           False         False  False
2                False          False           False         False  False
3                False          False           False         False  False
4                False          False           False         False  False
...                ...            ...             ...           ...    ...
7038             False          False           False         False  False
7039             False          False           False         False  False
7040             False          False           False         False  False
7041             False          False           False         False  False
7042             False          False           False         False  False

[7043 rows x 21 columns]
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

## 设置数据列的类型

In [63]:
print(df.info())  # TotalCharges是object，有问题
print(df['TotalCharges'].value_counts())  # 查看每个值的个数，发现有11个空值
median = df['TotalCharges'][df['TotalCharges'] != ' '].median()  # 取出所有不为空值的数据的中位数
df.loc[df['TotalCharges'] == ' ', 'TotalCharges'] = median
print()
print(df['TotalCharges'].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB
None
20.2       11
           11
19.75       9
19.65       8
19.9        8
           ..
3615.6      1
1559.25     1
292.8       1
2542.45     1
1082.75     1
Name: TotalCharges, Length: 6531, dtype: int64

20.2        11
1397.475    11
19.75        9
19.65        8
19.9         8
            ..
1559.25      1
292.8        1
2542.45      1
253          1
1082.75      1
Name: TotalCharges, Length: 6531, dtype: int64

## 将类别字段转换为categorial类型

In [67]:
print(df.columns)
number_columns = ['tenure', 'MonthlyCharges', 'TotalCharges']
for col in number_columns:
    df[col] = df[col].astype(float)
for col in set(df.columns) - set(number_columns):
    df[col] = pd.Categorical(df[col])
print(df.info())

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   category
 1   gender            7043 non-null   category
 2   SeniorCitizen     7043 non-null   category
 3   Partner           7043 non-null   category
 4   Dependents        7043 non-null   category
 5   tenure            7043 non-null   float64
 6   PhoneService      7043 non-null   category
 7   MultipleLines     7043 non-null   category
 8   InternetService   7043 non-null   category
 9   OnlineSecurity    7043 non-null   category
 10  OnlineBackup      7043 non-null   category
 11  DeviceProtection  7043 non-null   category
 12  TechSupport       7043 non-null   category
 13  StreamingTV       7043 non-null   category
 14  StreamingMovies   7043 non-null   category
 15  Contract          7043 non-null   category
 16  PaperlessBilling  7043 non-null   category
 17  PaymentMethod     7043 non-null   category
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   float64
 20  Churn             7043 non-null   category
dtypes: category(18), float64(3)
memory usage: 672.7 KB
None

## 只对categorical类型的字段做数据统计

In [68]:
print(df.describe(include=['category']))

        customerID gender  SeniorCitizen Partner Dependents PhoneService  \
count         7043   7043           7043    7043       7043         7043
unique        7043      2              2       2          2            2
top     9995-HOTOH   Male              0      No         No          Yes
freq             1   3555           5901    3641       4933         6361

       MultipleLines InternetService OnlineSecurity OnlineBackup  \
count           7043            7043           7043         7043
unique             3               3              3            3
top               No     Fiber optic             No           No
freq            3390            3096           3498         3088

       DeviceProtection TechSupport StreamingTV StreamingMovies  \
count              7043        7043        7043            7043
unique                3           3           3               3
top                  No          No          No              No
freq               3095        3473        2810            2785

              Contract PaperlessBilling     PaymentMethod Churn
count             7043             7043              7043  7043
unique               3                2                 4     2
top     Month-to-month              Yes  Electronic check    No
freq              3875             4171              2365  5174

## churn字段的数据分布

In [71]:
df = pd.read_csv('Telco-Customer-Churn.csv')
print(df['Churn'].value_counts())

No     5174
Yes    1869
Name: Churn, dtype: int64

## 多维度查看月费字段统计

In [72]:
print(df.groupby(['Churn', 'PaymentMethod'])['MonthlyCharges'].mean())

Churn  PaymentMethod
No     Bank transfer (automatic)    65.049417
       Credit card (automatic)      64.562209
       Electronic check             74.232032
       Mailed check                 41.403911
Yes    Bank transfer (automatic)    77.875581
       Credit card (automatic)      77.356034
       Electronic check             78.700980
       Mailed check                 54.557143
Name: MonthlyCharges, dtype: float64

## 将Churn字段映射为数字类型

In [77]:
df = pd.read_csv('Telco-Customer-Churn.csv')
print(df['Churn'].value_counts())
df['Churn'] = df['Churn'].map({'Yes': 1, 'No': 0})
print(df['Churn'].value_counts())

No     5174
Yes    1869
Name: Churn, dtype: int64
0    5174
1    1869
Name: Churn, dtype: int64

## 查看字段相关性矩阵

In [78]:
df = pd.read_csv('Telco-Customer-Churn.csv')
print(df.corr())  # 只会取数字类型来运算

                SeniorCitizen    tenure  MonthlyCharges
SeniorCitizen        1.000000  0.016567        0.220173
tenure               0.016567  1.000000        0.247900
MonthlyCharges       0.220173  0.247900        1.000000

## 从数据中采样

In [80]:
print(df.sample(5))

      customerID  gender  SeniorCitizen Partner Dependents  tenure  \
3237  6734-JDTTV    Male              0     Yes        Yes      65
5308  9110-HSGTV  Female              0      No         No      69
3659  0795-GMVQO    Male              0     Yes         No      67
5383  2362-IBOOY    Male              0      No         No      36
5323  1448-CYWKC  Female              0     Yes        Yes      58

     PhoneService MultipleLines InternetService       OnlineSecurity  ...  \
3237          Yes            No              No  No internet service  ...
5308          Yes            No             DSL                  Yes  ...
3659          Yes           Yes     Fiber optic                  Yes  ...
5383          Yes           Yes     Fiber optic                   No  ...
5323          Yes           Yes     Fiber optic                   No  ...

         DeviceProtection          TechSupport          StreamingTV  \
3237  No internet service  No internet service  No internet service
5308                  Yes                  Yes                  Yes
3659                  Yes                   No                  Yes
5383                   No                   No                   No
5323                  Yes                   No                  Yes

          StreamingMovies        Contract PaperlessBilling  \
3237  No internet service        Two year              Yes
5308                  Yes        Two year              Yes
3659                  Yes        One year               No
5383                  Yes  Month-to-month              Yes
5323                  Yes        One year              Yes

                PaymentMethod MonthlyCharges  TotalCharges Churn
3237  Credit card (automatic)          19.85       1267.05    No
5308  Credit card (automatic)          82.45        5555.3    No
3659  Credit card (automatic)         109.90        7332.4    No
5383         Electronic check          84.75       3050.15   Yes
5323  Credit card (automatic)         105.20        6225.4    No

[5 rows x 21 columns]

## 合并两个Series到一个DataFrame

In [89]:
np.random.seed(66)
s1 = pd.Series(np.random.rand(10))
s2 = pd.Series(np.random.randn(10))
df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df)

       col1      col2
0  0.154288  0.648347
1  0.133700  0.286029
2  0.362685  2.956916
3  0.679109  1.092710
4  0.194450  1.170838
5  0.251210  1.435220
6  0.758416 -0.180981
7  0.557619 -0.056043
8  0.514803 -0.185062
9  0.467800 -0.610935

## 多条件筛选DataFrame

In [90]:
df[(df['col2'] >=0) & (df['col2'] <= 1)]

       col1      col2
0  0.154288  0.648347
1  0.133700  0.286029

## 根据现有列新增一个新的数据列

In [91]:
df['col3'] = df['col2'].map(lambda x: 1 if x>=0 else -1)
print(df)

       col1      col2  col3
0  0.154288  0.648347     1
1  0.133700  0.286029     1
2  0.362685  2.956916     1
3  0.679109  1.092710     1
4  0.194450  1.170838     1
5  0.251210  1.435220     1
6  0.758416 -0.180981    -1
7  0.557619 -0.056043    -1
8  0.514803 -0.185062    -1
9  0.467800 -0.610935    -1

## 新增截断数值数据列

In [92]:
df['col4'] = df['col2'].clip(-1.0, 1.0)
print(df)

       col1      col2  col3      col4
0  0.154288  0.648347     1  0.648347
1  0.133700  0.286029     1  0.286029
2  0.362685  2.956916     1  1.000000
3  0.679109  1.092710     1  1.000000
4  0.194450  1.170838     1  1.000000
5  0.251210  1.435220     1  1.000000
6  0.758416 -0.180981    -1 -0.180981
7  0.557619 -0.056043    -1 -0.056043
8  0.514803 -0.185062    -1 -0.185062
9  0.467800 -0.610935    -1 -0.610935

## 输出DataFrame最大和最小的3个数字

In [95]:
print(df['col2'].nlargest(3))
print()
print(df['col2'].nsmallest(3))

2    2.956916
5    1.435220
4    1.170838
Name: col2, dtype: float64

9   -0.610935
8   -0.185062
6   -0.180981
Name: col2, dtype: float64

## 计算DataFrame数字的累积加和值

In [96]:
print(df.cumsum())

       col1      col2  col3      col4
0  0.154288  0.648347     1  0.648347
1  0.287987  0.934376     2  0.934376
2  0.650673  3.891291     3  1.934376
3  1.329781  4.984001     4  2.934376
4  1.524232  6.154840     5  3.934376
5  1.775442  7.590060     6  4.934376
6  2.533858  7.409079     5  4.753395
7  3.091477  7.353036     4  4.697352
8  3.606280  7.167974     3  4.512290
9  4.074080  6.557039     2  3.901355

## 计算DataFrame某一列数字中位数

In [97]:
print(df['col2'].median())
print(df['col2'].quantile())

0.46718776787851013
0.46718776787851013

## 按条件筛选DataFrame

In [100]:
print(df[df['col2'] > 0])
print(df.query('col2 > 0'))

       col1      col2  col3      col4
0  0.154288  0.648347     1  0.648347
1  0.133700  0.286029     1  0.286029
2  0.362685  2.956916     1  1.000000
3  0.679109  1.092710     1  1.000000
4  0.194450  1.170838     1  1.000000
5  0.251210  1.435220     1  1.000000
       col1      col2  col3      col4
0  0.154288  0.648347     1  0.648347
1  0.133700  0.286029     1  0.286029
2  0.362685  2.956916     1  1.000000
3  0.679109  1.092710     1  1.000000
4  0.194450  1.170838     1  1.000000
5  0.251210  1.435220     1  1.000000

## 将DataFrame前几行变成dict

In [101]:
print(df.head(3).to_dict())

{'col1': {0: 0.1542875781312758, 1: 0.13369956070006594, 2: 0.36268546617688757}, 'col2': {0: 0.6483467919124405, 1: 0.2860287438445798, 2: 2.9569157629372835}, 'col3': {0: 1, 1: 1, 2: 1}, 'col4': {0: 0.6483467919124405, 1: 0.2860287438445798, 2: 1.0}}

## 将DataFrame前几行转换为HTML

In [104]:
print(df.head(3).to_html())

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>col1</th>
      <th>col2</th>
      <th>col3</th>
      <th>col4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.154288</td>
      <td>0.648347</td>
      <td>1</td>
      <td>0.648347</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.133700</td>
      <td>0.286029</td>
      <td>1</td>
      <td>0.286029</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.362685</td>
      <td>2.956916</td>
      <td>1</td>
      <td>1.000000</td>
    </tr>
  </tbody>
</table>

## 按照列名筛选DataFrame

In [106]:
df = pd.DataFrame(np.random.rand(10, 4), columns=list('ABCD'))
print(df)
print(df.loc[df['C'] > 0.8])

          A         B         C         D
0  0.321388  0.511416  0.503406  0.311064
1  0.907981  0.274153  0.818676  0.552783
2  0.647090  0.702874  0.411806  0.898348
3  0.064108  0.664468  0.316883  0.703737
4  0.770375  0.418004  0.089232  0.233519
5  0.759519  0.469182  0.202954  0.696094
6  0.909949  0.058232  0.788587  0.395684
7  0.815126  0.566379  0.399533  0.698901
8  0.586130  0.548261  0.000513  0.558941
9  0.554009  0.299057  0.216054  0.125615
          A         B         C         D
1  0.907981  0.274153  0.818676  0.552783

## 多个条件组合筛选DataFrame

In [107]:
print(df[(df['C'] > 0.3) & (df['D'] < 0.7)])

          A         B         C         D
0  0.321388  0.511416  0.503406  0.311064
1  0.907981  0.274153  0.818676  0.552783
6  0.909949  0.058232  0.788587  0.395684
7  0.815126  0.566379  0.399533  0.698901

## 使用for循环遍历DataFrame

In [109]:
# for i, row in df.iterrows():
for i, row in df.head(3).iterrows():
    print(row)

A    0.321388
B    0.511416
C    0.503406
D    0.311064
Name: 0, dtype: float64
A    0.907981
B    0.274153
C    0.818676
D    0.552783
Name: 1, dtype: float64
A    0.647090
B    0.702874
C    0.411806
D    0.898348
Name: 2, dtype: float64

## 指定单元格设置DataFrame的值

In [110]:
df.iloc[3, 1] = np.nan
df.loc[8, 'D'] = np.nan
print(df)

          A         B         C         D
0  0.321388  0.511416  0.503406  0.311064
1  0.907981  0.274153  0.818676  0.552783
2  0.647090  0.702874  0.411806  0.898348
3  0.064108       NaN  0.316883  0.703737
4  0.770375  0.418004  0.089232  0.233519
5  0.759519  0.469182  0.202954  0.696094
6  0.909949  0.058232  0.788587  0.395684
7  0.815126  0.566379  0.399533  0.698901
8  0.586130  0.548261  0.000513       NaN
9  0.554009  0.299057  0.216054  0.125615

## 移除DataFrame中包含空值的行

In [118]:
df2 = df.dropna()
print(df2)

          A         B         C         D
0  0.321388  0.511416  0.503406  0.311064
1  0.907981  0.274153  0.818676  0.552783
2  0.647090  0.702874  0.411806  0.898348
4  0.770375  0.418004  0.089232  0.233519
5  0.759519  0.469182  0.202954  0.696094
6  0.909949  0.058232  0.788587  0.395684
7  0.815126  0.566379  0.399533  0.698901
9  0.554009  0.299057  0.216054  0.125615

## 移除空行后重新设置index顺序

In [119]:
# df2 = df2.reset_index()
df2 = df2.reset_index(drop=True)
print(df2)

          A         B         C         D
0  0.321388  0.511416  0.503406  0.311064
1  0.907981  0.274153  0.818676  0.552783
2  0.647090  0.702874  0.411806  0.898348
3  0.770375  0.418004  0.089232  0.233519
4  0.759519  0.469182  0.202954  0.696094
5  0.909949  0.058232  0.788587  0.395684
6  0.815126  0.566379  0.399533  0.698901
7  0.554009  0.299057  0.216054  0.125615

## 填充缺失值

In [121]:
print(df)
df.fillna(0)

          A         B         C         D
0  0.321388  0.511416  0.503406  0.311064
1  0.907981  0.274153  0.818676  0.552783
2  0.647090  0.702874  0.411806  0.898348
3  0.064108       NaN  0.316883  0.703737
4  0.770375  0.418004  0.089232  0.233519
5  0.759519  0.469182  0.202954  0.696094
6  0.909949  0.058232  0.788587  0.395684
7  0.815126  0.566379  0.399533  0.698901
8  0.586130  0.548261  0.000513       NaN
9  0.554009  0.299057  0.216054  0.125615

          A         B         C         D
0  0.321388  0.511416  0.503406  0.311064
1  0.907981  0.274153  0.818676  0.552783
2  0.647090  0.702874  0.411806  0.898348
3  0.064108  0.000000  0.316883  0.703737
4  0.770375  0.418004  0.089232  0.233519
5  0.759519  0.469182  0.202954  0.696094
6  0.909949  0.058232  0.788587  0.395684
7  0.815126  0.566379  0.399533  0.698901
8  0.586130  0.548261  0.000513  0.000000
9  0.554009  0.299057  0.216054  0.125615

## 修改数据列的先后顺序

In [122]:
df = df[['D', 'A', 'B', 'C']]
print(df)

          D         A         B         C
0  0.311064  0.321388  0.511416  0.503406
1  0.552783  0.907981  0.274153  0.818676
2  0.898348  0.647090  0.702874  0.411806
3  0.703737  0.064108       NaN  0.316883
4  0.233519  0.770375  0.418004  0.089232
5  0.696094  0.759519  0.469182  0.202954
6  0.395684  0.909949  0.058232  0.788587
7  0.698901  0.815126  0.566379  0.399533
8       NaN  0.586130  0.548261  0.000513
9  0.125615  0.554009  0.299057  0.216054

## 删除指定的数据列

In [127]:
print(df.drop('D', axis=1))
print(df.drop(['C', 'D'], axis=1))

          A         B         C
0  0.321388  0.511416  0.503406
1  0.907981  0.274153  0.818676
2  0.647090  0.702874  0.411806
3  0.064108       NaN  0.316883
4  0.770375  0.418004  0.089232
5  0.759519  0.469182  0.202954
6  0.909949  0.058232  0.788587
7  0.815126  0.566379  0.399533
8  0.586130  0.548261  0.000513
9  0.554009  0.299057  0.216054
          A         B
0  0.321388  0.511416
1  0.907981  0.274153
2  0.647090  0.702874
3  0.064108       NaN
4  0.770375  0.418004
5  0.759519  0.469182
6  0.909949  0.058232
7  0.815126  0.566379
8  0.586130  0.548261
9  0.554009  0.299057