In [15]:
import pandas as pd
import numpy as np

## 生成一个月份的所有日期

In [6]:
# date_range = pd.date_range(start='2021-10-01', end='2021-10-31')
date_range = pd.date_range(start='2021-10-01', periods=31)
date_range

DatetimeIndex(['2021-10-01', '2021-10-02', '2021-10-03', '2021-10-04',
               '2021-10-05', '2021-10-06', '2021-10-07', '2021-10-08',
               '2021-10-09', '2021-10-10', '2021-10-11', '2021-10-12',
               '2021-10-13', '2021-10-14', '2021-10-15', '2021-10-16',
               '2021-10-17', '2021-10-18', '2021-10-19', '2021-10-20',
               '2021-10-21', '2021-10-22', '2021-10-23', '2021-10-24',
               '2021-10-25', '2021-10-26', '2021-10-27', '2021-10-28',
               '2021-10-29', '2021-10-30', '2021-10-31'],
              dtype='datetime64[ns]', freq='D')

## 生成一年的所有周一

In [9]:
# date_range = pd.date_range(start='2021-01-01', end='2021-12-31', freq='W-MON')
date_range = pd.date_range(start='2021-01-01', periods=52, freq='W-MON')
date_range

DatetimeIndex(['2021-01-04', '2021-01-11', '2021-01-18', '2021-01-25',
               '2021-02-01', '2021-02-08', '2021-02-15', '2021-02-22',
               '2021-03-01', '2021-03-08', '2021-03-15', '2021-03-22',
               '2021-03-29', '2021-04-05', '2021-04-12', '2021-04-19',
               '2021-04-26', '2021-05-03', '2021-05-10', '2021-05-17',
               '2021-05-24', '2021-05-31', '2021-06-07', '2021-06-14',
               '2021-06-21', '2021-06-28', '2021-07-05', '2021-07-12',
               '2021-07-19', '2021-07-26', '2021-08-02', '2021-08-09',
               '2021-08-16', '2021-08-23', '2021-08-30', '2021-09-06',
               '2021-09-13', '2021-09-20', '2021-09-27', '2021-10-04',
               '2021-10-11', '2021-10-18', '2021-10-25', '2021-11-01',
               '2021-11-08', '2021-11-15', '2021-11-22', '2021-11-29',
               '2021-12-06', '2021-12-13', '2021-12-20', '2021-12-27'],
              dtype='datetime64[ns]', freq='W-MON')

## 生成一天中所有的小时

In [13]:
date_range = pd.date_range(start='2021-10-01', periods=24, freq='H')
date_range = pd.date_range(start='2021-10-01', end='2021-10-02', freq='H', closed='left')
date_range

DatetimeIndex(['2021-10-01 00:00:00', '2021-10-01 01:00:00',
               '2021-10-01 02:00:00', '2021-10-01 03:00:00',
               '2021-10-01 04:00:00', '2021-10-01 05:00:00',
               '2021-10-01 06:00:00', '2021-10-01 07:00:00',
               '2021-10-01 08:00:00', '2021-10-01 09:00:00',
               '2021-10-01 10:00:00', '2021-10-01 11:00:00',
               '2021-10-01 12:00:00', '2021-10-01 13:00:00',
               '2021-10-01 14:00:00', '2021-10-01 15:00:00',
               '2021-10-01 16:00:00', '2021-10-01 17:00:00',
               '2021-10-01 18:00:00', '2021-10-01 19:00:00',
               '2021-10-01 20:00:00', '2021-10-01 21:00:00',
               '2021-10-01 22:00:00', '2021-10-01 23:00:00'],
              dtype='datetime64[ns]', freq='H')

## 生成10月每天是2021年的第几天

In [14]:
date_range = pd.date_range(start='2021-10-01', periods=31)
df = pd.DataFrame(data=date_range, columns=['day'])
df['day_of_year'] = df['day'].dt.dayofyear
df

          day  day_of_year
0  2021-10-01          274
1  2021-10-02          275
2  2021-10-03          276
3  2021-10-04          277
4  2021-10-05          278
5  2021-10-06          279
6  2021-10-07          280
7  2021-10-08          281
8  2021-10-09          282
9  2021-10-10          283
10 2021-10-11          284
11 2021-10-12          285
12 2021-10-13          286
13 2021-10-14          287
14 2021-10-15          288
15 2021-10-16          289
16 2021-10-17          290
17 2021-10-18          291
18 2021-10-19          292
19 2021-10-20          293
20 2021-10-21          294
21 2021-10-22          295
22 2021-10-23          296
23 2021-10-24          297
24 2021-10-25          298
25 2021-10-26          299
26 2021-10-27          300
27 2021-10-28          301
28 2021-10-29          302
29 2021-10-30          303
30 2021-10-31          304

## 生成日期和随机分布的DataFrame
输出一个DataFrame，包含三列：
* 1000个日期作为索引：从2021-01-01开始
* 数据列：正态分布1000个随机数，loc=0, scale=1
* 数据列：均与分布1000个随机数，low=0, high=1
* 数据列：二项分布1000个随机数，n=1, p=0.2

In [17]:
date_range = pd.date_range(start='2021-01-01', periods=1000)
data = {
    'norm': np.random.normal(loc=0, scale=1, size=1000),
    'uniform': np.random.uniform(low=0, high=1, size=1000),
    'binomial': np.random.binomial(n=1, p=0.2, size=1000)
}
df = pd.DataFrame(data=data, index=date_range)
df

                norm   uniform  binomial
2021-01-01 -1.431884  0.715121         1
2021-01-02  0.155034  0.472808         0
2021-01-03  0.665666  0.977959         0
2021-01-04 -0.131147  0.231075         1
2021-01-05  1.495749  0.835662         0
...              ...       ...       ...
2023-09-23  0.887718  0.710500         0
2023-09-24 -0.006963  0.245185         0
2023-09-25 -0.028231  0.857064         1
2023-09-26  0.161864  0.934576         0
2023-09-27  0.206811  0.766928         0

[1000 rows x 3 columns]