In [1]:
import pandas as pd

### List转换为Series

In [5]:
courses = ['语文', '数学', '英语', '计算机']
data = pd.Series(data=courses)
data

0     语文
1     数学
2     英语
3    计算机
dtype: object

### Dict转换为Series

In [7]:
grades = {'语文': 80, '数学': 90, '英语': 95, '计算机': 82}
data = pd.Series(data=grades)
data

语文     80
数学     90
英语     95
计算机    82
dtype: int64

### 用Numpy创建Series

In [9]:
import numpy as np
s = pd.Series(
    np.arange(10, 100, 10),
    index=np.arange(101, 110),
    dtype='float'
)
s

101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64

### 转换Series的数据类型

In [17]:
s = pd.Series(
    data=['001', '002', '003', '004'],
    index=list('abcd')
)
# s = s.astype(int)
s = s.map(int)
s

a    1
b    2
c    3
d    4
dtype: int64

### 给Series添加元素

In [18]:
data = data.append(
    pd.Series({
    '物理': 99,
    '化学': 78
}))
data

语文     80
数学     90
英语     95
计算机    82
物理     99
化学     78
dtype: int64

### Series的值转换为List

In [19]:
numbers = data.tolist()
numbers

[80, 90, 95, 82, 99, 78]

### 将Series转换为DataFrame

In [24]:
df = pd.DataFrame(data, columns=['grade'])
# print(df)
# 用reset index将Series转换为DataFrame
df = data.reset_index()  # 将作为index的科目名称也变成一列
df.columns = ['course', 'grade']
df

  course  grade
0     语文     80
1     数学     90
2     英语     95
3    计算机     82
4     物理     99
5     化学     78

### 使用字典创建DataFrame

In [25]:
df = pd.DataFrame(
    {
        '姓名': ['Tom', 'Jack', 'Lucy'],
        '性别': ['男', '男', '女'],
        '年龄': [19, 20, 18]
    }
)
df

     姓名 性别  年龄
0   Tom  男  19
1  Jack  男  20
2  Lucy  女  18

### 设置DataFrame的索引列

In [29]:
data = {
    '姓名': ['Tom', 'Jack', 'Lucy'],
    '性别': ['男', '男', '女'],
    '年龄': [19, 20, 18]
}
df = pd.DataFrame(data)
df.set_index('姓名', inplace=True)
df

     性别  年龄
姓名
Tom   男  19
Jack  男  20
Lucy  女  18

### 将索引列改为普通数据列

In [31]:
df.reset_index(inplace=True)
df

     姓名 性别  年龄
0   Tom  男  19
1  Jack  男  20
2  Lucy  女  18