Copyright (c) CQuan Corporation. All rights reserved.

# Pandas DataFrame排序

---

在这篇notebook中，将会介绍DataFrame如何排序，主要包括
1. 按某列值排序，升序或降序
2. 按多列值排序，分别采用不同的升降序

注：不仅可以对数值型数据进行排序，还能对字符串进行字典排序

In [1]:
import pandas as pd

s = """    Player      Year   Age   Tm     G
Cedric Hunter   1991    27  CHH     6
Maurice Baker   2004    25  VAN     7
Ratko Varda     2004    22  TOT     60
Ryan Bowen      2009    34  OKC     52
Adrian Caldwell 1997    31  DAL     81"""
title = s.split('\n')[0]
title = title.split()
rows = []
for line in s.split('\n')[1:]:
    rows.append(line.rsplit(maxsplit=4))
df = pd.DataFrame(data=rows, columns=title, index=list(range(1, 6)))
print(df)

            Player  Year Age   Tm   G
1    Cedric Hunter  1991  27  CHH   6
2    Maurice Baker  2004  25  VAN   7
3      Ratko Varda  2004  22  TOT  60
4       Ryan Bowen  2009  34  OKC  52
5  Adrian Caldwell  1997  31  DAL  81

## 按照某列排序，默认升序

In [5]:
new_df = df.sort_values(by=["Year"])
print(new_df)

            Player  Year Age   Tm   G
1    Cedric Hunter  1991  27  CHH   6
5  Adrian Caldwell  1997  31  DAL  81
2    Maurice Baker  2004  25  VAN   7
3      Ratko Varda  2004  22  TOT  60
4       Ryan Bowen  2009  34  OKC  52

## 按照多列排序，可自定义排序方式

In [6]:
new_df = df.sort_values(["Year", "Age"], ascending=[True, True])
print(new_df)

            Player  Year Age   Tm   G
1    Cedric Hunter  1991  27  CHH   6
5  Adrian Caldwell  1997  31  DAL  81
3      Ratko Varda  2004  22  TOT  60
2    Maurice Baker  2004  25  VAN   7
4       Ryan Bowen  2009  34  OKC  52

## 对字符串进行字典排序

In [4]:
new_df = df.sort_values(by=["Tm"])
print(new_df)

            Player  Year Age   Tm   G
1    Cedric Hunter  1991  27  CHH   6
5  Adrian Caldwell  1997  31  DAL  81
4       Ryan Bowen  2009  34  OKC  52
3      Ratko Varda  2004  22  TOT  60
2    Maurice Baker  2004  25  VAN   7